$white: #fff;
$black: #000;
$gray: #d6d6d6;

$main-page-color: #2C60B7;
$arpopos-page-color: #2DC67C;
$temoignages-page-color: #FF6A51;
$balados-page-color: #EB3842;
$yellow: #FFD426;
$gree-bright: #00AC86;
$accent-blue: #4383D3;

$progress-bar-color: #fdebec;
